<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    {% load socialaccount %}
    {% load account socialaccount %}
    {% get_providers as socialaccount_providers %}
    <link rel="stylesheet" href="{% static 'oauth/css/start.css' %}">
</head>
<body>
    <div class="startview">
        <div class="title">
            <div class="sky">SKY</div>
            <div class="castle">CASTLE</div>
            <div class="intro">선생님을 위한 학생관리 플랫폼</div>
        </div>
        <div class="loginbox">
            <a href="{% provider_login_url 'kakao' method='oauth2' %}" class="login_btn">로그인하러 가기</a>
        </div>
    </div>
    <script src="{% static 'oauth/js/start.js' %}"></script>
</body>
</html>