body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.title{
    width: 50vmax;

}

.entrances{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40vmax;
    margin-top: -5vmax;
}

.entrance{
    width: 19vmax;
    height: 5vmax;
}

.login_btn{
    margin-top: -5vmax;
}