body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.title{
    width: 50vmax;

}

.entrances{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40vmax;
    margin-top: -5vmax;
}

.entrance{
    width: 19vmax;
    height: 5vmax;
}

.login_btn{
    margin-top: -5vmax;
}

.help{
    font-weight: lighter;
    color: black;
}

.hamberger_menu{
    position: absolute;
    top: 8vmin;
    right: 10vw;
    width: 5vw;
}

.navbar-toggle {
    position: relative;
    float: left; /*    float: right; 원래 */
    padding: 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: white;
    background-image: none;
    border: 1px solid black;
    border-radius: 4px;
}

.icon-bar{
    background-color: #563d7c; 
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
}

.navbar-toggle .icon-bar+.icon-bar{
    margin-top: 4px;
}