body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.whole{
    display: flex;
    flex-direction: column;
    height: 70vh;
    justify-content: center;
    align-items: center;
}

.vocabularyTitle{
    display: flex;
    width: 80vmin;
    height: 8vh;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3vh;
    border-bottom: 1px solid black;
    font-size: 5vh;
}

.editTitleBtn{
    height: 5vh;
}

.deleteVocabularyBtn{
    height: 5vh;
}

.page_title{
    display: flex;
    align-items: center;
    width: 90vw;
    height: 20vmin;
    font-size: 5vh;
    margin-bottom: 3vh;
}

.logo{
    width: 25vmin;
    cursor: pointer;
}

.title{
    width: 75vmin;
    font-size: 3vh;
    /* margin-bottom: -2vh; */
}

.add_word{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vmin;
    height: 20vh;
}

.input_word{
    width: 65vmin;
    height: 16vh;
}

.submit_btn{
    width: 15vmin;
    height: 15vh;
    margin-left: 3vmin;
}

.entrances{
    display: flex;
    width: 80vmin;
    justify-content: space-evenly;
    margin-top: 2vh;
}

.entrance{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 78vmin;
    height: 10vh;
    font-size: 6vmin;
    font-weight:normal;
    border-radius: 3vh;
    background-color: black;
    color: white;
    border: none;
}

.entrance:hover{
    background-color: gray;
}

.hamberger_menu{
    position: absolute;
    top: 8vmin;
    right: 10vw;
    width: 5vw;
}

.navbar-toggle {
    position: relative;
    float: left; /*    float: right; 원래 */
    padding: 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: white;
    background-image: none;
    border: 1px solid black;
    border-radius: 4px;
}

.icon-bar{
    background-color: #563d7c; 
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
}

.navbar-toggle .icon-bar+.icon-bar{
    margin-top: 4px;
}