body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title{
    display: flex;
    align-items: center;
    width: 90vw;
    height: 20vmin;
    font-size: 5vh;
    border-bottom: 1px solid black;
    margin-bottom: 3vh;
}

.logo{
    width: 25vmin;
    cursor: pointer;
}

.vocabulary{
    display: flex;
    width: 90vw;
    flex-wrap: wrap;
}

.daily_btn{
    margin: 1vh 1vw 1vh 1vw;
}