body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title{
    display: flex;
    align-items: center;
    width: 90vw;
    height: 20vmin;
    font-size: 5vh;
    border-bottom: 1px solid black;
    margin-bottom: 3vh;
}

.logo{
    width: 25vmin;
    cursor: pointer;
}

.vocabulary{
    display: flex;
    flex-direction: column;
    width: 40vmax;
    border-top: 1px solid black;
}

.voca{
    display: flex;
    width: 40vmax;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;

}

.eng{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20vmax;
    padding: 1vh 1vw 1vh 1vw;
}

.kor{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20vmax;
    flex-wrap: wrap;
    border-left: 1px solid black;
    padding: 1vh 1vw 1vh 1vw;
    
}